.env
docker-compose.yml
/node_modules
/dist
/logs
/.docker

/weather-collector/__pycache__
/weather-collector/.venv
/weather-collector/venv
/weather-collector/.pytest_cache

/queue-worker/worker # Se o binário compilado se chamar 'worker'